<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../templates/header.ejs') %>
    <link rel="stylesheet" href="/css/admin/accounts.css" />
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
    <script type="application/javascript" src="/js/jquery.dataTables.min.js"></script>
</head>

<body class="bg-light text-dark">
    <div class="content d-flex">
        <%- include('../../templates/sidebar.ejs') %>
        <div class="main">
            <%- include('../../templates/admin-navbar.ejs', { content: "Staff" }) %>
            <div class="container">
                <div class="form-group mb-4 d-flex justify-content-center">
                    <button class="btn bg-light text-dark border border-dark border-5 rounded" id="showForm">NEW STAFF</button>
                </div>
                <section class="container bg-light text-dark p-4 rounded border border-4 border-dark">
                    <table class="table text-center table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">STAFF'S NAME</th>
                                <th class="text-center">ROLE</th>
                                <th class="text-center">ACTION</th>
                            </tr>
                        </thead>
                    </table>
                </section>
                <input type="hidden" id="staff-id" />
            </div>
        </div>
    </div>

    <!-- ACCOUNT FORM -->
    <div class="bg-shadow d-flex justify-content-center align-items-center d-none" style="overflow-y: auto;">
        <div
            class="add-account-form h-75 w-75 border bg-dark text-light border-light border-5 rounded d-flex flex-column align-items-center gap-4 py-4">
            <div class="form-group w-50 mt-3">
                <label class="form-label text-center d-block" for="dName">Staff's Name</label>
                <input type="text" class="form-control border border-light border-5 rounded text-center"
                    id="sFullname" placeholder="Lastname, Firstname M.I."/>
            </div>
            <div class="form-group w-50">
                <label class="form-label text-center d-block" for="sGender">Sex</label>
                <select class="form-select w-100 rounded text-center" id="sGender">
                    <option selected value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group w-50">
                <label class="form-label text-center d-block" for="dLicense">Role</label>
                <input type="text" class="form-control border border-light border-5 rounded text-center"
                    id="sRole" />
            </div>
            <div class="form-group w-50">
                <input type="submit"
                    class="btn btn-info border border-info border-1 rounded text-center w-25 mx-auto d-block"
                    id="add" value="ADD" />
            </div>
        </div>
    </div>

    <div class="edit-shadow d-flex justify-content-center align-items-center d-none" style="overflow-y: auto;">
        <div
            class="add-account-form h-75 w-75 border bg-dark text-light border-light border-5 rounded d-flex flex-column align-items-center gap-4 py-4">
            <div class="form-group w-50 mt-3">
                <label class="form-label text-center d-block" for="dName">Staff's Name</label>
                <input type="text" class="form-control border border-light border-5 rounded text-center"
                    id="eFullname" placeholder="Lastname, Firstname M.I."/>
            </div>
            <div class="form-group w-50">
                <label class="form-label text-center d-block" for="eGender">Sex</label>
                <select class="form-select w-100 rounded text-center" id="eGender">
                    <option id="Male" value="Male">Male</option>
                    <option id="Female" value="Female">Female</option>
                </select>
            </div>
            <div class="form-group w-50">
                <label class="form-label text-center d-block" for="dLicense">Role</label>
                <input type="text" class="form-control border border-light border-5 rounded text-center"
                    id="eRole" />
            </div>
            <div class="form-group w-50">
                <input type="submit"
                    class="btn btn-primary border border-1 rounded text-center w-25 mx-auto d-block"
                    id="save" value="EDIT" />
            </div>
        </div>
    </div>


    <%- include('../../templates/confirmation.ejs') %>
    <%- include('../../templates/loading.ejs') %>
    <%- include('../../templates/toast.ejs') %>
    <script type="application/javascript" src="/js/admin/staffs.js"></script>
</body>

</html>