<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/checkLogin.js"></script>
    <%- include('../templates/header.ejs') %>
    <link rel="stylesheet" href="/css/admin/reports_accommodated.css"/>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
    <script type="application/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script type="application/javascript" src="/js/dataTables.buttons.min.js"></script>
    <script type="application/javascript" src="/js/buttons.print.min.js"></script>
    <script type="application/javascript" src="/js/admin/customprint.js"></script>
</head>

<body class="bg-light text-dark">
    <div class="content d-flex">
        <%- include('../templates/sidebar.ejs') %>
        <div class="main">
            <%- include('../templates/admin-navbar.ejs', { content: "Reports / Accommodated Patients" }) %>

            <div class="container">
                <div class="container rounded border border-dark border-4 p-3 bg-light">
                    <div class="date_container d-flex flex-column flex-md-row w-100 justify-content-center gap-2 mb-3">
                        <div class="form-group text-center w-100">
                            <label class="form-label text-dark">FROM</label>
                            <input type="date" class="text-center form-control border border-dark border-4" id="from"/>
                        </div>
                        <div class="form-group text-center w-100">
                            <label class="form-label text-dark">TO</label>
                            <input type="date" class="text-center form-control border border-dark border-4" id="to"/>
                        </div>
                    </div>
                    <table class="table text-center table-striped" id="patients_accommodated">
                        <thead>
                            <tr>
                                <th class="text-center">PATIENT'S NAME</th>
                                <th class="text-center">DIAGNOSIS</th>
                                <th class="text-center">PATIENT TYPE</th>
                                <th class="text-center">CHECK-UP DATE</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include('../templates/loading.ejs') %>
    <%- include('../templates/toast.ejs') %>

    <script type="application/javascript" src="/js/admin/reports_accommodated.js"></script>
</body>

</html>