<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../templates/header.ejs') %>
    <link rel="stylesheet" href="/css/admin/reports_masterlist.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <script type="application/javascript"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="application/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="application/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
</head>

<body class="bg-dark text-light">
    <div class="content d-flex">
        <%- include('../templates/sidebar.ejs') %>
        <div class="main">
            <%- include('../templates/admin-navbar.ejs', { content: "Reports / Patient Masterlist" }) %>
            <div class="container mb-4">
                <div class="container border border-light border-2 rounded p-3 bg-light">
                    <table class="table text-center table-striped table-hover" id="patients_masterlist">
                        <thead>
                            <tr>
                                <th class="text-center">PATIENT'S NAME</th>
                                <th class="text-center">ADDRESS</th>
                                <th class="text-center">CONTACT</th>
                                <th class="text-center">BIRTHDATE</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include('../templates/loading.ejs') %>
    <%- include('../templates/toast.ejs') %>

    <script type="application/javascript" src="/js/admin/reports_masterlist.js"></script>
</body>

</html>