<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="id" content="<%= user.id %>">
    <%- include('./templates/header.ejs'); %>
        <link rel="stylesheet" href="/css/user.css" />
        <link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
        <script type="application/javascript" src="/js/jquery.dataTables.min.js"></script>
</head>

<body class="bg-light">
    <%- include('./templates/navbar.ejs'); %>
        <h1 class="text-center text-dark my-4">Profile</h1>

        <!-- USER INFO -->
        <form
            class="w-75 container border border-dark border-5 rounded bg-light user-info p-5 d-flex flex-column gap-4 align-items-center">
            <h5 class="text-center text-danger">You have unsaved changes</h5>

            <div class="form-group d-flex flex-column justify-content-center gap-3 w-75">

                <!-- PROFILE IMAGE -->
                <div class="form-group d-flex flex-column align-items-center gap-3">
                    <div class="img-container border border-dark border-4 rounded">
                        <img id="img" class="img-fluid" src="<%= user.picture %>"/>
                    </div>
                    <label class="btn btn-outline-primary border border-primary border-3" for="myFile">CHANGE</label>
                    <input type="file" class="d-none" id="myFile"/>
                </div>

                <!-- PROFILE INFO -->
                <div class="form-group d-flex gap-3 justify-content-center">
                    <div class="form-group w-100 text-center">
                        <label for="fname">Email</label>
                        <input disabled value="<%= user.email %>" type="email"
                            class="form-control border border-dark border-4 text-center" id="email" />
                    </div>
                    <div class="form-group w-100 text-center">
                        <label for="fname">Username</label>
                        <input disabled value="<%= user.username %>" type="text"
                            class="form-control border border-dark border-4 text-center" id="username" />
                    </div>
                </div>

                <div class="form-group d-flex align-items-center gap-3">
                    <div class="form-group w-100 text-center">
                        <label for="fname" class="important">First Name</label>
                        <input disabled value="<%= user.fullname?.fname %>" type="text"
                            class="form-control border border-dark border-4 text-center" id="fname" />
                    </div>
                    <div class="form-group w-100 text-center">
                        <label for="mi">M.I.</label>
                        <input disabled value="<%= user.fullname?.mi %>" type="text"
                            class="text-center form-control border border-dark border-4" id="mi" />
                    </div>
                    <div class="form-group w-100 text-center">
                        <label for="lname" class="important">Last Name</label>
                        <input disabled value="<%= user.fullname?.lname %>" type="text"
                            class="form-control border border-dark border-4 text-center" id="lname" />
                    </div>
                </div>

                <div class="form-group d-flex align-items-center gap-3">
                    <div class="form-group w-100 text-center">
                        <label for="birthdate" class="important">Birthdate</label>
                        <input disabled value="<%= user.birthdate %>" type="date"
                            class="text-center form-control border border-dark border-4" id="birthdate" name="birthdate" />
                    </div>
                    <div class="form-group w-100 text-center">
                        <label for="age" class="control-label">Age</label>
                        <input disabled type="number" value="<%= user.age %>"
                            class="text-center form-control border border-dark border-4" id="age"/>
                    </div>
                </div>

                <div class="form-group d-flex align-items-center gap-3">
                    <div class="form-group w-100 text-center">
                        <label for="gender" class="important">Sex</label>
                        <select disabled class="form-select border border-dark border-4 d-block text-center" id="gender">
                            <% if(user.gender && user.gender == "Male") { %>
                                <option selected>Male</option>
                                <option>Female</option>
                            <% }else if(user.gender && user.gender == "Female") { %>
                                <option>Male</option>
                                <option selected>Female</option>
                            <% }else{ %>
                                <option>Male</option>
                                <option>Female</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group w-100 text-center">
                        <label for="contact" class="important">Contact</label>
                        <input disabled value="<%= user.contact %>" type="number"
                            class="text-center form-control border border-dark border-4" id="contact" name="contact" />
                    </div>
                </div>
            </div>

            <div class="form-group text-center w-75">
                <label for="address" class="important">Patient's Address</label>
                <textarea disabled class="form-control border border-dark border-4 text-center" id="address"
                    rows="3"><%= user.address %></textarea>
            </div>
            <div class="form-group d-flex justify-content-center gap-4 w-75">
                <div class="form-group w-100 d-flex align-items-center flex-column gap-1">
                    <div class="form-group text-center w-100">
                        <label for="g-name" class="control-label">Guardian's Name</label>
                        <input disabled type="text" value="<%= user.guardian?.name %>"
                            class="text-center form-control border border-dark border-4" id="g-name" />
                    </div>
                    <div class="form-group text-center w-100">
                        <label for="g-contact" class="control-label">Guardian's Contact</label>
                        <input disabled type="number" value="<%= user.guardian?.contact %>"
                            class="text-center form-control border border-dark border-4" id="g-contact" />
                    </div>
                    <div class="form-group text-center w-100">
                        <label for="age" class="control-label">Relationship to Patient</label>
                        <input disabled type="g-relationship" value="<%= user.guardian?.relationship %>"
                            class="text-center form-control border border-dark border-4" id="g-relationship" />
                    </div>
                </div>
                <div class="form-group w-100">
                    <div class="form-group text-center w-100">
                        <label for="g-address" class="control-label">Guardian's Address</label>
                        <textarea disabled class="form-control border border-dark border-4 text-center" id="g-address"
                            rows="7"><%= user.guardian?.address %></textarea>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center w-100">
                <button id="save" class="d-none btn btn-success border w-25 border-dark border-4 rounded">SAVE INFO</button>
                <button id="edit" class="btn btn-primary border w-25 border-dark border-4 rounded">EDIT INFO</button>
            </div>
        </form>

        <h1 class="text-center text-dark mb-4 mt-5">Medical Records</h1>
        <section class="container bg-light appointments-table p-4 w-75 mb-4 border border-dark border-5 rounded">
            <table class="table text-center table-striped table-hover">
                <thead>
                    <th class="text-center">DIAGNOSIS</th>
                    <th class="text-center">PATIENT TYPE</th>
                    <th class="text-center">CHECK-UP DATE</th>
                    <th class="text-center">ACTION</th>
                </thead>
            </table>
        </section>


        <%- include('./templates/confirmation.ejs') %>
        <%- include('./templates/loading.ejs') %>
        <%- include('./templates/toast.ejs') %>
            <script type="application/javascript" src="/js/user.js"></script>
</body>

</html>