<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="id" content="<%= user.id %>">
    <%- include('./templates/header.ejs'); %>
        <link rel="stylesheet" href="/css/user.css" />
        <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
        <script type="application/javascript" src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</head>

<body class="bg-dark">
    <%- include('./templates/navbar.ejs'); %>
        <h1 class="text-center text-light my-4">User Information</h1>

        <!-- USER INFO -->
        <form
            class="container border border-dark border-5 bg-light user-info p-5 d-flex flex-column gap-5 align-items-center">
            <h5 class="text-center text-danger">You have unsaved changes</h5>
            <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-5">
                <div class="form-group text-center">
                    <label for="fullname">Full Name</label>
                    <input value="<%= user.fullname %>" type="text" class="form-control border border-dark border-4"
                        id="fullname" name="fullname" />
                </div>
                <div class="form-group text-center">
                    <label for="email">Email</label>
                    <input type="text" class="form-control border border-dark border-4" id="email" name="email" disabled
                        value="<%= user.email %>" />
                </div>
                <div class="form-group text-center">
                    <label for="contact">Contact</label>
                    <input value="<%= user.contact %>" type="text" class="form-control border border-dark border-4"
                        id="contact" name="contact" />
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row justify-content-space-evenly align-items-center gap-5">
                <div class="form-group text-center">
                    <label for="gender">Gender</label>
                    <select type="text" class="custom-select border border-dark border-4 d-block" id="gender"
                        name="gender">
                        <% if(user.gender) { %>
                            <option>
                                <%= user.gender %>
                            </option>
                            <% }else{ %>
                                <option selected disabled hidden>Choose</option>
                                <option>Male</option>
                                <option>Female</option>
                                <% } %>
                    </select>
                </div>
                <div class="form-group text-center">
                    <label for="birthdate">Birthdate</label>
                    <input value="<%= user.birthdate %>" type="date" class="form-control border border-dark border-4"
                        id="birthdate" name="birthdate" />
                </div>
                <div class="form-group text-center">
                    <label for="age" class="control-label">Age</label>
                    <input type="number" value="<%= user.age %>" class="form-control border border-dark border-4"
                        id="age" disabled />
                </div>
            </div>
            <div class="form-group text-center w-50">
                <label for="address">Address</label>
                <textarea class="form-control border border-dark border-4" id="address"
                    rows="3"><%= user.address %></textarea>
            </div>
            <div class="d-flex flex-column flex-lg-row justify-content-space-around align-items-center gap-5">
                <button id="save" class="btn btn-light border border-dark border-4 rounded">SAVE</button>
                <button id="sched" class="btn btn-light border border-dark border-4 rounded">MAKE AN
                    APPOINTMENT</button>
            </div>

            <!-- FALLBACK LOADING -->
            <%- include('./templates/loading.ejs') %>
        </form>

        <!-- APOINTMENTS TABLE -->
        <h1 class="text-center text-light mb-4 mt-5">Appointments</h1>
        <section class="container bg-light appointments-table p-4 w-75 mb-4">
            <table class="table text-center table-striped table-hover" id="appointments">
                <thead>
                    <th>SCHEDULE</th>
                    <th>STATUS</th>
                </thead>
                <tbody>
                    <% appointments.forEach((val)=> { %>
                        <tr>
                            <td>
                                <%= val.schedule %>
                            </td>
                            <td>
                                <%= val.status %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </section>

        <!-- APPOINTMENT SCHEDULE FORM -->
        <div class="bg-shadow-dim d-flex align-items-center justify-content-center d-none">
            <div class="bg-light w-75 position-relative d-flex gap-5 flex-column">
                <label id="close"><i class="bi bi-x-square-fill"></i></label>
                <h5
                    class="text-center border-bottom border-dark border-3 w-100 text-dark d-block pb-4 mt-2 position-relative">
                    Appointment Date</h5>
                <div class="w-100 d-flex flex-column gap-3 position-relative align-items-center">
                    <div class="form-group text-center w-50 mb-1">
                        <label for="date-sched" class="control-label">Date</label>
                        <input type="datetime-local" class="form-control border border-dark border-4 w-100 mx-auto mb-3"
                            id="date-sched">
                    </div>
                    <div class="form-group text-center my-4">
                        <button id="submit-sched"
                            class="btn btn-light border border-dark border-4 rounded">SUBMIT</button>
                    </div>
                </div>
                <!-- FALLBACK LOADING -->
                <%- include('./templates/loading.ejs') %>
            </div>
        </div>

        <!-- TOAST -->
        <%- include('./templates/toast.ejs') %>
            <script type="application/javascript" src="/js/user.js"></script>
</body>

</html>