<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/checkLogin.js"></script>
    <%- include('./templates/header.ejs'); %>
</head>
<body class="bg-light pb-3 h-100">
    <%- include('./templates/navbar.ejs'); %>

    <div class="container text-center border border-dark border-4 rounded my-4 p-3 d-flex flex-column gap-4 w-75 rounded">
        <div class="form-group">
            <label for="patient_type" class="form-label">Check-Up Date: <%= user.date_created %></label>
        </div>
        <div class="form-group w-75 mx-auto">
            <label for="patient_type" class="form-label">Patient Type</label>
            <input disabled class="form-control border border-dark border-4 text-center text-center" value="<%= user.patient_type %>" id="patient_type">
        </div>
        <div class="form-group w-75 mx-auto d-flex gap-4">
            <div class="form-group d-flex flex-column w-100 gap-2 ">
                <div class="form-group">
                    <label class="form-label" for="temperature">Temperature</label>
                    <div class="input-group border border-dark border-4 rounded">
                        <input disabled value="<%= user.temperature %>" type="number" class="form-control text-center"
                        id="temperature" />
                        <span class="input-group-text">°C</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="bp">Blood Pressure</label>
                    <input disabled value="<%= user.bp %>" type="text" class="form-control border border-dark rounded border-4 text-center" id="bp" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="weight">Weight</label>
                    <div class="input-group border border-dark border-4 rounded">
                        <input disabled value="<%= user.weight %>" type="text" class="form-control text-center" id="weight" />
                        <span class="input-group-text">kg</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="height">Height</label>
                    <div class="input-group border border-dark border-4 rounded">
                        <input disabled value="<%= user.height %>" type="text" class="form-control text-center" id="height" />
                        <span class="input-group-text">cm</span>
                    </div>
                </div>
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="patient_history">Patient History</label>
                <textarea disabled class="form-control border border-dark border-4 text-center" id="patient_history" rows="11"><%= user.patient_history %></textarea>
            </div>
        </div>
        <div class="form-group w-75 mx-auto d-flex justify-content-center gap-4">
            <div class="form-group w-100">
                <label class="form-label" for="diagnosis">Diagnosis</label>
                <textarea disabled class="form-control border border-dark border-4 text-center" id="description" rows="7"><%= user.ailment?.diagnosis %></textarea>
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="description">Description</label>
                <textarea disabled class="form-control border border-dark border-4 text-center" id="description" rows="7"><%= user.ailment?.description %></textarea>
            </div>
        </div>
    </div>

    <%- include('./templates/loading.ejs'); %>
        <%- include('./templates/toast.ejs'); %>
            <script type="application/javascript" src="/js/user-med-record.js"></script>
</body>
</html>