<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="patient_id" content="<%= user.id %>"/>
    <%- include('./templates/header.ejs'); %>
    <link rel="stylesheet" href="/css/user-appointments.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <script type="application/javascript" src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/dayjs.min.js" integrity="sha512-hcV6DX35BKgiTiWYrJgPbu3FxS6CsCjKgmrsPRpUPkXWbvPiKxvSVSdhWX0yXcPctOI2FJ4WP6N1zH+17B/sAA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="bg-light h-100">
    <%- include('./templates/navbar.ejs'); %>
    <input type="hidden" value="<%= user.fullname %>"/>
    <h1 class="text-center text-dark mt-4">Appointments</h1>

    <div class="container w-75 d-flex justify-content-center my-4">
        <button id="sched" class="btn btn-light border bg-light text-dark border-dark border-4 rounded">MAKE AN
            APPOINTMENT</button>
    </div>

    <!-- APOINTMENTS TABLE -->
    <section class="container bg-light appointments-table p-4 w-75 mb-4 d-flex flex-column gap-3 border border-dark border-5 rounded">
        <div class="form-group text-center d-flex flex-column flex-md-row w-100 gap-3 mb-3">
            <div class="form-group w-100">
                <label for="sort" class="form-label">Sort Status</label>
                <select id="sort" class="form-select border border-dark border-4 text-center">
                    <option data-selected value="none">All</option>
                    <option value="Approved">Approved</option>
                    <option value="Pending">Pending</option>
                    <option value="Cancelled">Cancelled</option>
                    <option value="Follow-up">Follow-up</option>
                </select>
            </div>
            <div class="form-group w-100">
                <label for="show" class="form-label">Show Appointments</label>
                <select id="show" class="form-select border border-dark border-4 text-center">
                    <option data-selected value="none">All</option>
                    <option value="Today">Today</option>
                    <option value="Week">This Week</option>
                    <option value="Month">This Month</option>
                </select>
            </div>
        </div>
        <table class="table text-center table-striped table-hover">
            <thead>
                <th class="text-center">DATE</th>
                <th class="text-center">PATIENT TYPE</th>
                <th class="text-center">STATUS</th>
            </thead>
        </table>
    </section>



        <!-- APPOINTMENT SCHEDULE FORM -->
        <div class="bg-shadow-dim d-flex align-items-center justify-content-center d-none">
            <div class="form-sched bg-light w-75 position-relative d-flex gap-3 flex-column rounded">
                <label id="close"><i class="bi bi-x-square-fill"></i></label>
                <h5
                    class="text-center border-bottom border-dark border-3 w-100 text-dark d-block py-3 mt-2 position-relative">
                    Make an Appointment</h5>
                <div class="w-100 d-flex flex-column gap-3 pb-4 position-relative align-items-center">
                    <!-- <h5 class="text-danger position-absolute invalid">Chosen TIME is UNAVAILABLE</h5>
                    <h5 class="text-success position-absolute valid">Chosen TIME is AVAILABLE</h5> -->
                    <div class="form-group w-50 d-flex flex-column gap-3">
                        <div class="form-group text-center w-100">
                            <label for="patient_type" class="form-label">Patient Type</label>
                            <select id="patient_type" class="text-center form-select border border-dark border-4">
                                <option selected hidden disabled>Choose</option>
                                <option value="Pedia">Pedia</option>
                                <option value="OB">OB</option>
                            </select>
                        </div>
                        <div class="form-group text-center w-100 d-none" id="dateSched-container">
                            <label class="form-label">Date</label>
                            <input type="text" class="border border-dark border-4 text-center" id="date-sched"/>
                        </div>
                        <div class="form-group text-center w-100 d-none" id="timeSched-container">
                            <label class="form-label d-block">Time</label>
                            <select disabled id="timepicker" class="form-select border border-dark border-4 text-center">
                                <option></option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group text-center w-50">
                        <label for="med-complain" class="form-label">Medical Complain</label>
                        <textarea rows="3" id="med-complain" class="form-control text-center border border-dark border-4"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <button id="submit-sched"
                            class="btn btn-light border border-dark border-4 rounded">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>


        <input type="hidden" id="chosenTime">
    <%- include('./templates/loading.ejs'); %>
        <%- include('./templates/toast.ejs'); %>
            <script type="application/javascript" src="/js/user-appointments.js"></script>
</body>

</html>