<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apt_id" content="<%= apt_id %>">
    <meta name="patient_id" content="<%= user.id %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../templates/header.ejs') %>
</head>

<body>
    <h1>Schedule ID #<%= apt_id %></h1>
    <a class="btn btn-info" href="/admin/scheduled">BACK</a>

    <div
        class="container border border-dark rounded border-5 text-dark bg-light text-center w-75 mb-5 position-relative p-4 d-flex flex-column gap-5">
        <div class="form-group d-flex flex-column flex-md-row gap-5 justify-content-center">
            <div class="form-group">
                <label class="form-label" for="fname">First Name</label>
                <input value="<%= user.fullname.fname %>" type="text" class="form-control border border-dark rounded border-4" id="fname" />
            </div>
            <div class="form-group">
                <label class="form-label" for="mi">M.I.</label>
                <input value="<%= user.fullname.mi %>" type="text" class="form-control border border-dark rounded border-4" id="mi" />
            </div>
            <div class="form-group">
                <label class="form-label" for="lname">Last Name</label>
                <input value="<%= user.fullname.lname %>" type="text" class="form-control border border-dark rounded border-4" id="lname" />
            </div>
            <div class="form-group">
                <label class="form-label" for="contact">Contact</label>
                <input value="<%= user.contact %>" type="number" class="form-control border border-dark rounded border-4" id="contact" />
            </div>
        </div>
        <div class="form-group d-flex flex-column flex-md-row gap-5 justify-content-center">
            <div class="form-group">
                <label class="form-label" for="gender">Gender</label>
                <input value="<%= user.gender %>" class="form-control border border-dark rounded border-4" id="gender" disabled />
            </div>
            <div class="form-group">
                <label class="form-label" for="birthdate">Birthdate</label>
                <input value="<%= user.birthdate %>" type="date" class="form-control border border-dark rounded border-4" id="birthdate" />
            </div>
            <div class="form-group">
                <label class="form-label" for="age">Age</label>
                <input value="<%= user.age %>" type="number" class="form-control border border-dark rounded border-4" id="age"
                    disabled />
            </div>
        </div>
        <div class="form-group w-100">
            <label class="form-label" for="address">Address</label>
            <textarea class="form-control border border-dark border-4" id="address" rows="3"><%= user.address %></textarea>
        </div>
        <div class="form-group w-100">
            <label class="form-label" for="patient_history">Patient History</label>
            <textarea class="form-control border border-dark border-4" id="patient_history" rows="3"><%= user.patient_history %></textarea>
        </div>
        <div class="form-group">
            <label for="patient_type" class="form-label">Patient Type</label>
            <select class="form-control border border-dark border-4 text-center" id="patient_type">
                <% if(user.patient_type) { %>
                    <option selected hidden value="<%= user.patient_type %>"><%= user.patient_type %></option>
                    <option value="Pedia">Pedia</option>
                    <option value="OB">OB</option>
                <% } else { %>
                    <option selected disabled>Choose</option>
                    <option value="Pedia">Pedia</option>
                    <option value="OB">OB</option>
                <% } %>
            </select>
        </div>

        <!-- MEDICAL RECORD -->
        <div class="form-group">
            <label for="guardian" class="form-label">Guardian</label>
            <input type="text" class="form-control border border-dark border-4" id="guardian">
        </div>
        <div class="form-group d-flex flex-column flex-md-row gap-5 justify-content-center">
            <div class="form-group">
                <label class="form-label" for="temperature">Temperature</label>
                <input value="" type="number" class="form-control border border-dark rounded border-4"
                    id="temperature" />
            </div>
            <div class="form-group">
                <label class="form-label" for="bp">Blood Pressure</label>
                <input value="" type="text" class="form-control border border-dark rounded border-4" id="bp" />
            </div>
            <div class="form-group">
                <label class="form-label" for="weight">Weight</label>
                <input value="" type="text" class="form-control border border-dark rounded border-4" id="weight" />
            </div>
            <div class="form-group">
                <label class="form-label" for="height">Height</label>
                <input value="" type="text" class="form-control border border-dark rounded border-4" id="height" />
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" for="diagnosis">Diagnosis</label>
            <input value="" type="text" class="form-control border border-dark rounded border-4 text-center" id="diagnosis" />
        </div>
        <div class="form-group">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control border border-dark border-4" id="description" rows="3"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-success" id="save">SAVE RECORD</button>
        </div>
    </div>

    <%- include('../../templates/loading.ejs') %>
        <%- include('../../templates/toast.ejs') %>
            <script type="application/javascript" src="/js/admin/new-med-record.js"></script>
</body>

</html>