<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apt_id" content="<%= apt_id %>">
    <meta name="patient_id" content="<%= user.patient_id %>">
    <meta name="status" content="<%= user.status %>">
    <meta name="link_to" content="<%= user.link_to %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../templates/header.ejs') %>
    <link rel="stylesheet" href="/css/admin/new-med-record.css"/>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
    <script type="application/javascript" src="/js/jquery.dataTables.min.js"></script>
</head>

<body class="bg-light text-dark">
    <a class="btn bg-light text-dark position-fixed top-0 ms-2" style="font-size: 3vw;" href="/admin/scheduled"><i class="bi bi-box-arrow-left me-3"></i></a>
    <h1 class="text-center mb-3 mt-4">Schedule Record</h1>
    <h1 class="text-center mb-3">Patient ID No. #<%= apt_id.split('-')[0].toUpperCase() %></h1>

    <div class="container border border-dark rounded border-5 text-dark bg-light text-center w-75 mb-5 position-relative p-4 d-flex flex-column gap-3">
        <h5 class="text-center pb-3 border-bottom border-dark border-4">Patient Information</h5>
        <div class="form-group w-75 mx-auto gap-4 d-flex justify-content-center align-items-center">

            <div class="form-group d-flex flex-column align-items-center">
                <div class="img-container border border-dark border-4 rounded mx-auto">
                    <img id="img" class="img-fluid" src="<%= user.picture %>"/>
                </div>
            </div>

            <div class="form-group d-flex flex-column gap-2 justify-content-center">
                <div class="form-group">
                    <label class="form-label" for="fname">First Name</label>
                    <input disabled value="<%= user.fullname?.fname %>" type="text" class="text-center form-control border border-dark rounded border-4" id="fname" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="mi">M.I.</label>
                    <input disabled value="<%= user.fullname?.mi %>" type="text" class="text-center form-control border border-dark rounded border-4" id="mi" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="lname">Last Name</label>
                    <input disabled value="<%= user.fullname?.lname %>" type="text" class="text-center form-control border border-dark rounded border-4" id="lname" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="contact">Contact</label>
                    <input disabled value="<%= user.contact %>" type="number" class="text-center form-control border border-dark rounded border-4" id="contact" />
                </div>
            </div>

            <div class="form-group d-flex flex-column gap-2 justify-content-center">
                <div class="form-group">
                    <label class="form-label" for="gender">Sex</label>
                    <input disabled value="<%= user.gender %>" class="text-center form-control border border-dark rounded border-4" id="gender" disabled />
                </div>
                <div class="form-group">
                    <label class="form-label" for="birthdate">Birthdate</label>
                    <input disabled value="<%= user.birthdate %>" type="date" class="form-control border border-dark rounded border-4 text-center" id="birthdate" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="age">Age</label>
                    <input value="<%= user.age %>" type="text" class="text-center form-control border border-dark rounded border-4" id="age"
                        disabled />
                </div>
                <div class="form-group">
                    <label for="patient_type" class="form-label">Patient Type</label>
                    <input disabled class="form-control border border-dark border-4 text-center text-center" value="<%= user.patient_type %>" id="patient_type">
                </div>
            </div>
        </div>
        <div class="form-group w-75 mx-auto">
            <label class="form-label" for="address">Address</label>
            <textarea disabled class="form-control border border-dark border-4 text-center" id="address" rows="3"><%= user.address %></textarea>
        </div>
        <!-- <% if(user.guardian?.name) { %>
            <div class="form-group w-100">
                <label class="form-label" for="g-name">Guardian's Name</label>
                <input disabled value="<%= user.guardian?.name %>" class="form-control w-100 border border-dark border-4 text-center" type="text" id="g-name" />
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="g-address">Guardian's Address</label>
                <input disabled value="<%= user.guardian?.address %>" class="form-control w-100 border border-dark border-4 text-center" type="text" id="g-address" />
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="g-contact">Guardian's Contact</label>
                <input disabled value="<%= user.guardian?.contact %>" class="form-control w-100 border border-dark border-4 text-center" type="number" id="g-contact" />
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="g-relationship">Relationship to Patient</label>
                <input disabled value="<%= user.guardian?.relationship %>" class="form-control w-100 border border-dark border-4 text-center" type="text" id="g-relationship" />
            </div>
        <% } %> -->

        <!-- MEDICAL RECORD -->
        <h5 class="text-center py-3 border-bottom border-top border-dark border-4 mt-4">Medical Record</h5>
        <div class="form-group d-flex gap-5 w-75 mx-auto">
            <div class="form-group d-flex w-100 flex-column gap-1 align-items-center">
                <div class="form-group w-100">
                    <label class="form-label mb-0 important" for="temperature">Temperature</label>
                    <div class="input-group border-4 border-dark rounded border">
                        <input maxlength="2" placeholder="(e.g., 37)" value="" type="text" class="form-control rounded text-center"
                        id="temperature" />
                        <span class="input-group-text">°C</span>
                    </div>
                </div>
                <div class="form-group w-100">
                    <label class="form-label mb-0 important" for="bp">Blood Pressure</label>
                    <input placeholder="(e.g., 120/80)" value="" type="text" class="form-control border border-dark rounded border-4 text-center" id="bp" />
                </div>
                <div class="form-group w-100">
                    <label class="form-label mb-0 important" for="weight">Weight</label>
                    <div class="input-group border-4 border-dark rounded border">
                        <input maxlength="3" placeholder="(e.g., 50)" value="" type="text" class="form-control text-center" id="weight" />
                        <span class="input-group-text">kg</span>
                    </div>
                </div>
                <div class="form-group w-100">
                    <label class="form-label mb-0 important" for="height">Height</label>
                    <div class="input-group border-dark border-4 rounded border">
                        <input maxlength="3" placeholder="(e.g., 175)" value="" type="text" class="form-control rounded text-center" id="height" />
                        <span class="input-group-text">cm</span>
                    </div>
                </div>
            </div>
            <div class="form-group w-100 d-flex flex-column gap-1 justify-content-center align-items-center">
                <% if(user.med_complain) { %>
                    <div class="form-group w-100">
                        <label class="form-label" for="med_complain">Medical Complain</label>
                        <textarea disabled class="form-control w-100 border border-dark border-4 text-center" rows="3" id="med_complain" ><%= user.med_complain %></textarea>
                    </div>
                <% } %>
                <div class="form-group w-100 h-100">
                    <label class="form-label" for="patient_history">Patient History</label>
                    <textarea class="form-control border border-dark border-4 text-center h-75" id="patient_history" rows="3"><%= user.patient_history %></textarea>
                </div>
            </div>
        </div>

        <!-- MEDICAL RESULTS -->
        <h5 class="text-center py-3 border-bottom border-top border-dark border-4 mt-4">Medical Results</h5>
        <div class="form-group w-75 d-flex mx-auto gap-4 justify-content-center">
            <div class="form-group w-100">
                <label class="form-label" for="diagnosis">Diagnosis</label>
                <textarea class="form-control border border-dark border-4 h-100 text-center" id="diagnosis" rows="5"></textarea>
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control border border-dark border-4 h-100 text-center" id="description" rows="5"></textarea>
            </div>
        </div>

        <div class="btn-group w-50 mx-auto border border-dark mt-5 border-2 rounded">
            <button class="btn btn-success" id="save">SAVE RECORD</button>
            <button class="btn btn-warning" id="follow_up">FOLLOW UP</button>
        </div>
    </div>

    <% if(user.link_to) { %>
        <h1 class="text-center mt-5">Linked Check-ups</h1>
        <div class="border border-dark border-4 container mt-2 w-75 p-4 rounded">
            <table class="table text-center table-striped table-hover" id="linked_checkup">
                <thead>
                    <tr>
                        <th class="text-center">DIAGNOSIS</th>
                        <th class="text-center">CHECK-UP DATE</th>
                        <th class="text-center">ACTION</th>
                    </tr>
                </thead>
            </table>
        </div>
    <% } %>

    <div class="d-none follow_up_shadow d-flex justify-content-center align-items-center">
        <div class="w-50 follow_up_form position-relative bg-light rounded d-flex flex-column justify-content-center align-items-center p-3 py-4 gap-3 border border-dark border-5">
            <div class="form-group text-center w-50 mx-auto" id="timeSched-container">
                <label class="form-label d-block">Doctor</label>
                <select id="doctorList" class="form-select border border-dark border-4 text-center">
                    <option></option>
                </select>
            </div>
            <div class="form-group text-center w-50 mx-auto" id="dateSched-container">
                <label class="form-label">Date</label>
                <input disabled type="text" class="text-center form-control border border-dark border-4 w-100 mx-auto" id="date-sched"/>
            </div>
            <div class="form-group text-center w-50 mx-auto" id="timeSched-container">
                <label class="form-label d-block">Time</label>
                <select id="timepicker" class="form-select border border-dark border-4 text-center">
                    <option></option>
                </select>
            </div>
            <div class="form-group d-flex justify-content-center align-items-center">
                <button class="btn btn-primary border border-dark border-4" id="submit_follow_up">SUBMIT</button>
            </div>
        </div>
    </div>

    <%- include('../../templates/confirmation.ejs') %>
    <%- include('../../templates/loading.ejs') %>
    <%- include('../../templates/toast.ejs') %>
    <script type="application/javascript" src="/js/admin/new-med-record.js"></script>
</body>

</html>