<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/checkLogin.js"></script>
    <%- include('../../templates/header.ejs') %>
    <link rel="stylesheet" href="/css/admin/scheduled.css"/>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
    <script type="application/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dayjs.min.js"></script>
</head>

<body class="bg-light text-dark">
    <div class="content d-flex">
        <%- include('../../templates/sidebar.ejs') %>
        <div class="main">
            <%- include('../../templates/admin-navbar.ejs', { content: "Scheduled Patients" }) %>

            <div class="container">
                <div class="container border border-dark border-4 rounded p-3 bg-light">
                    <div class="container p-0">
                        <div class="form-group w-100">
                            <label class="form-label text-center text-dark w-100">SORT DATE</label>
                            <div class="form-group w-50 mb-2 mx-auto d-flex justify-content-center gap-3">
                                <div class="form-check w-100 p-0 m-0">
                                    <input type="radio" class="btn-check" name="selectedSort" value="DAY" id="today" checked/>
                                    <label class="btn btn-primary w-100 d-block" for="today">TODAY</label>
                                </div>
                                <div class="form-check w-100 p-0 m-0">
                                    <input class="btn-check" type="radio" name="selectedSort" id="custom">
                                    <label class="btn btn-primary w-100 d-block" for="custom">DATE RANGE</label>
                                </div>
                            </div>
                            <div class="form-group date-wrapper w-50 mx-auto d-flex align-items-center gap-3 pb-2 d-none">
                                <div class="date_container d-flex flex-column flex-md-row w-100 justify-content-center gap-2 m-0">
                                    <div class="form-group text-center w-100">
                                        <label class="form-label text-dark m-0">FROM</label>
                                        <input type="date" class="text-center form-control border border-dark border-4" id="from"/>
                                    </div>
                                    <div class="form-group text-center w-100">
                                        <label class="form-label text-dark m-0">TO</label>
                                        <input type="date" class="text-center form-control border border-dark border-4" id="to"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group w-100 mb-3">
                            <label class="form-label text-center text-dark w-100">SORT TYPE</label>
                            <select class="form-select border border-dark border-3 rounded text-center text-dark" id="selectSort">
                                <% if(admin.specialty != "admin") { %>
                                    <option value="<%= admin.specialty %>"><%= admin.specialty %></option>
                                <% }else{ %>
                                    <option value="All">All</option>
                                    <option value="Pedia">Pedia</option>
                                    <option value="OB">OB</option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <table class="table text-center table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">QUEUE</th>
                                <th class="text-center">PATIENT'S NAME</th>
                                <th class="text-center">PATIENT TYPE</th>
                                <th class="text-center">SCHEDULE</th>
                                <th class="text-center">ACTION</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="reason-shadow">
        <div class="reason bg-light w-50 h-50 rounded border border-dark border-3 p-3 d-flex flex-column align-items-center gap-3">
            <h3 class="text-center my-3">REASON</h3>
            <textarea class="form-control w-75 border border-dark border-4 text-center my-3" id="reason" rows="3"></textarea>
            <button class="btn btn-danger text-center my-3 border border-dark border-3 rounded" id="confirm-cancel">CANCEL APPOINTMENT</button>
        </div>
    </div>

    <input type="hidden" id="apt_id">
    <input type="hidden" id="schedule">
    <input type="hidden" id="email">

    <%- include('../../templates/loading.ejs') %>
    <%- include('../../templates/toast.ejs') %>
    <script type="application/javascript" src="/js/admin/scheduled.js"></script>
</body>

</html>