<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mr_id" content="<%= mr_id %>">
    <meta name="patient_id" content="<%= patient_id %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../templates/header.ejs') %>
</head>

<body>
    <h1>Medical Record #<%= mr_id %>
    </h1>
    <a class="btn btn-info" href="/admin/patients/<%= patient_id %>">BACK</a>

    <div
        class="container border border-dark rounded border-5 text-dark bg-light text-center w-75 mb-5 position-relative p-4 d-flex flex-column gap-2">
        <div class="form-group d-flex flex-column flex-md-row gap-2 justify-content-center">
            <div class="form-group">
                <label class="form-label" for="fname">First Name</label>
                <input disabled value="<%= user.fullname?.fname %>" type="text"
                    class="text-center form-control border border-dark rounded border-4" id="fname" />
            </div>
            <div class="form-group">
                <label class="form-label" for="mi">M.I.</label>
                <input disabled value="<%= user.fullname?.mi %>" type="text"
                    class="text-center form-control border border-dark rounded border-4" id="mi" />
            </div>
            <div class="form-group">
                <label class="form-label" for="lname">Last Name</label>
                <input disabled value="<%= user.fullname?.lname %>" type="text"
                    class="text-center form-control border border-dark rounded border-4" id="lname" />
            </div>
            <div class="form-group">
                <label class="form-label" for="contact">Contact</label>
                <input disabled value="<%= user.contact %>" type="number"
                    class="text-center form-control border border-dark rounded border-4" id="contact" />
            </div>
        </div>
        <div class="form-group d-flex flex-column flex-md-row gap-5 justify-content-center">
            <div class="form-group">
                <label class="form-label" for="gender">Gender</label>
                <input disabled value="<%= user.gender %>"
                    class="text-center form-control border border-dark rounded border-4" id="gender" disabled />
            </div>
            <div class="form-group">
                <label class="form-label" for="birthdate">Birthdate</label>
                <input disabled value="<%= user.birthdate %>" type="date"
                    class="form-control border border-dark rounded border-4" id="birthdate" />
            </div>
            <div class="form-group">
                <label class="form-label" for="age">Age</label>
                <input value="<%= user.age %>" type="number"
                    class="text-center form-control border border-dark rounded border-4" id="age" disabled />
            </div>
            <div class="form-group">
                <label for="patient_type" class="form-label">Patient Type</label>
                <input disabled class="form-control border border-dark border-4 text-center text-center"
                    value="<%= user.patient_type %>" id="patient_type">
            </div>
        </div>
        <div class="form-group w-100">
            <label class="form-label" for="address">Address</label>
            <textarea disabled class="form-control border border-dark border-4 text-center" id="address"
                rows="3"><%= user.address %></textarea>
        </div>
        <% if(user.med_complain) { %>
            <div class="form-group w-100">
                <label class="form-label" for="med_complain">Medical Complain</label>
                <textarea disabled class="form-control w-100 border border-dark border-4 text-center"
                    id="med_complain"><%= user.med_complain %></textarea>
            </div>
        <% } %>
        <% if(user.guardian?.name) { %>
            <div class="form-group w-100">
                <label class="form-label" for="g-name">Guardian's Name</label>
                <input disabled value="<%= user.guardian?.name %>"
                    class="form-control w-100 border border-dark border-4 text-center" type="text"
                    id="g-name" />
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="g-address">Guardian's Address</label>
                <input disabled value="<%= user.guardian?.address %>"
                    class="form-control w-100 border border-dark border-4 text-center" type="text"
                    id="g-address" />
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="g-contact">Guardian's Contact</label>
                <input disabled value="<%= user.guardian?.contact %>"
                    class="form-control w-100 border border-dark border-4 text-center" type="number"
                    id="g-contact" />
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="g-relationship">Relationship to Patient</label>
                <input disabled value="<%= user.guardian?.relationship %>"
                    class="form-control w-100 border border-dark border-4 text-center" type="text"
                    id="g-relationship" />
            </div>
        <% } %>

        <!-- MEDICAL RECORD -->
        <div class="form-group w-100">
            <label class="form-label" for="patient_history">Patient History</label>
            <textarea class="form-control border border-dark border-4 text-center" id="patient_history"
                rows="3"><%= user.patient_history %></textarea>
        </div>
        <div class="form-group d-flex flex-column flex-md-row gap-5 justify-content-center">
            <div class="form-group">
                <label class="form-label" for="temperature">Temperature</label>
                <input value="<%= user.temperature %>" type="number"
                    class="form-control border border-dark rounded border-4 text-center"
                    id="temperature" />
            </div>
            <div class="form-group">
                <label class="form-label" for="bp">Blood Pressure</label>
                <input value="<%= user.bp %>" type="text"
                    class="form-control border border-dark rounded border-4 text-center" id="bp" />
            </div>
            <div class="form-group">
                <label class="form-label" for="weight">Weight</label>
                <input value="<%= user.weight %>" type="text"
                    class="form-control border border-dark rounded border-4 text-center" id="weight" />
            </div>
            <div class="form-group">
                <label class="form-label" for="height">Height</label>
                <input value="<%= user.height %>" type="text"
                    class="form-control border border-dark rounded border-4 text-center" id="height" />
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" for="diagnosis">Diagnosis</label>
            <input value="<%= user.ailment?.diagnosis %>" type="text"
                class="form-control border border-dark rounded border-4 text-center text-center"
                id="diagnosis" />
        </div>
        <div class="form-group">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control border border-dark border-4 text-center" id="description"
                rows="3"><%= user.ailment?.description %></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-success" id="save">UPDATE RECORD</button>
        </div>
    </div>

    <%- include('../../templates/confirmation.ejs') %>
    <%- include('../../templates/loading.ejs') %>
        <%- include('../../templates/toast.ejs') %>
            <script type="application/javascript" src="/js/admin/med-record.js"></script>
</body>

</html>