<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mr_id" content="<%= mr_id %>">
    <meta name="patient_id" content="<%= patient_id %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../templates/header.ejs') %>
    <link rel="stylesheet" href="/css/admin/med-record.css"/>
</head>

<body class="bg-light text-dark">
    <a class="btn bg-light text-dark position-fixed top-0 ms-2" style="font-size: 3vw;" id="back"><i class="bi bi-box-arrow-left me-3"></i></a>
    <h1 class="text-center mb-3 mt-4">Medical Record</h1>
    <h1 class="text-center mb-3">#<%= mr_id.split('-')[0] %></h1>

    <div class="container border border-dark rounded border-5 text-dark bg-light text-center w-75 mb-5 position-relative p-4 d-flex flex-column gap-3">
        <h5 class="text-center pb-3 border-bottom border-dark border-4">Patient Information</h5>
        <div class="form-group w-75 mx-auto d-flex justify-content-center gap-4 align-items-center">

            <div class="form-group d-flex flex-column align-items-center">
                <div class="img-container border border-dark border-4 rounded mx-auto">
                    <img id="img" class="img-fluid" src="<%= user.picture %>"/>
                </div>
            </div>

            <div class="form-group d-flex flex-column gap-2 justify-content-center">
                <div class="form-group">
                    <label class="form-label" for="fname">First Name</label>
                    <input disabled value="<%= user.fullname?.fname %>" type="text" class="text-center form-control border border-dark rounded border-4" id="fname" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="mi">M.I.</label>
                    <input disabled value="<%= user.fullname?.mi %>" type="text" class="text-center form-control border border-dark rounded border-4" id="mi" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="lname">Last Name</label>
                    <input disabled value="<%= user.fullname?.lname %>" type="text" class="text-center form-control border border-dark rounded border-4" id="lname" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="contact">Contact</label>
                    <input disabled value="<%= user.contact %>" type="number" class="text-center form-control border border-dark rounded border-4" id="contact" />
                </div>
            </div>

            <div class="form-group d-flex flex-column gap-2 justify-content-center">
                <div class="form-group">
                    <label class="form-label" for="gender">Gender</label>
                    <input disabled value="<%= user.gender %>" class="text-center form-control border border-dark rounded border-4" id="gender" disabled />
                </div>
                <div class="form-group">
                    <label class="form-label" for="birthdate">Birthdate</label>
                    <input disabled value="<%= user.birthdate %>" type="date" class="form-control border border-dark rounded border-4 text-center" id="birthdate" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="age">Age</label>
                    <input value="<%= user.age %>" type="number" class="text-center form-control border border-dark rounded border-4" id="age"
                        disabled />
                </div>
                <div class="form-group">
                    <label for="patient_type" class="form-label">Patient Type</label>
                    <input disabled class="form-control border border-dark border-4 text-center text-center" value="<%= user.patient_type %>" id="patient_type">
                </div>
            </div>
        </div>
        <div class="form-group w-75 mx-auto">
            <label class="form-label" for="address">Address</label>
            <textarea disabled class="form-control border border-dark border-4 text-center" id="address" rows="3"><%= user.address %></textarea>
        </div>
        <!-- <% if(user.guardian?.name) { %>
            <div class="form-group w-100">
                <label class="form-label" for="g-name">Guardian's Name</label>
                <input disabled value="<%= user.guardian?.name %>" class="form-control w-100 border border-dark border-4 text-center" type="text" id="g-name" />
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="g-address">Guardian's Address</label>
                <input disabled value="<%= user.guardian?.address %>" class="form-control w-100 border border-dark border-4 text-center" type="text" id="g-address" />
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="g-contact">Guardian's Contact</label>
                <input disabled value="<%= user.guardian?.contact %>" class="form-control w-100 border border-dark border-4 text-center" type="number" id="g-contact" />
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="g-relationship">Relationship to Patient</label>
                <input disabled value="<%= user.guardian?.relationship %>" class="form-control w-100 border border-dark border-4 text-center" type="text" id="g-relationship" />
            </div>
        <% } %> -->

        <!-- MEDICAL RECORD -->
        <h5 class="text-center py-3 border-bottom border-top border-dark border-4 mt-4">Medical Record</h5>
        <div class="form-group d-flex gap-5 w-75 mx-auto">
            <div class="form-group d-flex w-100 flex-column gap-1 align-items-center">
                <div class="form-group w-100">
                    <label class="form-label mb-0" for="temperature">Temperature</label>
                    <input disabled value="<%= user.temperature %>" type="text" class="form-control border border-dark rounded border-4 text-center"
                        id="temperature" />
                </div>
                <div class="form-group w-100">
                    <label class="form-label mb-0" for="bp">Blood Pressure</label>
                    <input disabled value="<%= user.bp %>" type="text" class="form-control border border-dark rounded border-4 text-center" id="bp" />
                </div>
                <div class="form-group w-100">
                    <label class="form-label mb-0" for="weight">Weight</label>
                    <input disabled value="<%= user.weight %>" type="text" class="form-control border border-dark rounded border-4 text-center" id="weight" />
                </div>
                <div class="form-group w-100">
                    <label class="form-label mb-0" for="height">Height</label>
                    <input disabled value="<%= user.height %>" type="text" class="form-control border border-dark rounded border-4 text-center" id="height" />
                </div>
            </div>
            <div class="form-group w-100 d-flex flex-column gap-1 justify-content-center align-items-center">
                <% if(user.med_complain) { %>
                    <div class="form-group w-100">
                        <label class="form-label" for="med_complain">Medical Complain</label>
                        <textarea disabled class="form-control w-100 border border-dark border-4 text-center" rows="3" id="med_complain" ><%= user.med_complain %></textarea>
                    </div>
                <% } %>
                <div class="form-group w-100 h-100">
                    <label class="form-label" for="patient_history">Patient History</label>
                    <textarea disabled class="form-control border border-dark border-4 text-center h-75" id="patient_history" rows="3"><%= user.patient_history %></textarea>
                </div>
            </div>
        </div>

        <!-- MEDICAL RESULTS -->
        <h5 class="text-center py-3 border-bottom border-top border-dark border-4 mt-4">Medical Results</h5>
        <div class="form-group w-75 d-flex mx-auto gap-5 mb-5 justify-content-center">
            <div class="form-group w-100">
                <label class="form-label" for="diagnosis">Diagnosis</label>
                <textarea disabled class="form-control border border-dark rounded border-4 text-center text-center" id="diagnosis" rows="5"><%= user.ailment?.diagnosis %></textarea>
            </div>
            <div class="form-group w-100">
                <label class="form-label" for="description">Description</label>
                <textarea disabled class="form-control border border-dark border-4 text-center" id="description" rows="5"><%= user.ailment?.description %></textarea>
            </div>
        </div>
        <div class="hr"></div>
        <div class="btn-group w-50 mx-auto border border-dark mt-3 border-2 rounded">
            <button class="btn btn-success w-50 d-none" id="save">SAVE RECORD</button>
            <button class="btn btn-primary w-50" id="edit">EDIT RECORD</button>
            <a id="print" class="btn btn-warning w-50 mx-auto">PRINT<i class="bi bi-printer-fill ms-3"></i></a>
        </div>
    </div>

    <div class="to-print d-none p-3 h-100">
        <%
            const { fname, mi, lname } = user.fullname
        %>
        <!-- <h4 class="pb-3 border-bottom border-dark border-4">Medical Record # mr_id.split('-')[0] %></h4> -->
        <div class="border-bottom border-dark border-4 p-3 pb-5 mt-5 gap-3">
            <label class="rmcc-label">#64 Rizal St. Brgy 3. Alfonso Cavite, Philippines 4123</label>
            <h4 class="rmcc">Rodis Maternal and Childcare Clinic</h4>
            <img class="bg-logo" src="/favicon.ico"/>
        </div>
        <div class="d-flex justify-content-between position-relative text-break border-bottom border-dark border-4 pb-3">
            <div class="form-group d-flex flex-column w-50">
                <h4 class="mb-3">PATIENT:</h4>
                <label class="form-label">Patient Type: <%= user.patient_type %></label>
                <label class="form-label">Name: <%= `${lname}, ${fname} ${mi}.` %></label>
                <label class="form-label">Gender: <%= user.gender %></label>
                <label class="form-label">Contact: <%= user.contact %></label>
                <label class="form-label">Birthdate: <%= new Date(user.birthdate).toLocaleDateString() %></label>
                <label class="form-label">Age: <%= user.age %></label>
                <label class="form-label patient-weight"></label>
                <label class="form-label patient-height"></label>
                <label class="form-label patient-temp"></label>
                <label class="form-label patient-bp"></label>
            </div>
            <!-- <% if(user.guardian?.name) { %>
                <div class="form-group d-flex flex-column w-50">
                    <h4 class="mb-3">GUARDIAN:</h4>
                    <label class="form-label">Name: <%= user.guardian?.name %></label>
                    <label class="form-label">Address: <%= user.guardian?.address || "Not Set" %></label>
                    <label class="form-label">Contact: <%= user.guardian?.contact || "Not Set" %></label>
                    <label class="form-label">Relationship: <%= user.guardian?.relationship || "Not Set" %></label>
                </div>
            <% } %> -->
            <div class="form-group d-flex flex-column w-50">
                <h4 class="mb-3">PATIENT HISTORY:</h4>
                <label class="form-label patient-history"></label>
            </div>
        </div>
        <% if(user.ailment?.diagnosis) { %>
            <div class="d-flex text-break h-50 justify-content-between">
                <div class="form-group w-50 h-100">
                    <h4 class="mb-3">DIAGNOSIS:</h4>
                    <p class="form-label diagnosis-title"></p>
                </div>
                <div class="form-group w-50 h-100">
                    <h4 class="mb-3">DESCRIPTION:</h4>
                    <p class="form-label diagnosis-description"></p>
                </div>
            </div>
        <% } %>
    </div>

    <%- include('../../templates/confirmation.ejs') %>
    <%- include('../../templates/loading.ejs') %>
    <%- include('../../templates/toast.ejs') %>
    <script type="application/javascript" src="/js/admin/med-record.js"></script>
</body>

</html>