<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="patient_id" content="<%= patient_id %>">
    <%- include('../../templates/header.ejs') %>
    <link rel="stylesheet" href="/css/admin/patient-info.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <script type="application/javascript" src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</head>

<body class="bg-light text-dark">
    <a class="btn bg-light text-dark position-fixed top-0 ms-2" style="font-size: 3vw;" href="/admin/patients"><i class="bi bi-box-arrow-left me-3"></i></a>
    <h1 class="text-center my-4">Patient Information</h1>

    <div class="container border border-dark rounded border-5 text-dark bg-light text-center w-75 mb-5 position-relative d-flex flex-column gap-4 p-4 pt-5">

        <div class="container d-flex flex-column justify-content-center gap-3 w-75">

            <!-- PROFILE IMAGE -->
            <div class="form-group d-flex flex-column align-items-center gap-3">
                <div class="img-container border border-dark border-4 rounded">
                    <img id="img" class="img-fluid" src="<%= user.picture %>"/>
                </div>
            </div>

            <!-- PROFILE INFO -->
            <% if(user.email || user.username) { %>
                <div class="form-group d-flex gap-3 justify-content-center">
                    <div class="form-group w-100 text-center">
                        <label for="fname">Email</label>
                        <input disabled value="<%= user.email %>" type="email"
                            class="form-control border border-dark border-4 text-center" id="email" />
                    </div>
                    <div class="form-group w-100 text-center">
                        <label for="fname">Username</label>
                        <input disabled value="<%= user.username %>" type="text"
                            class="form-control border border-dark border-4 text-center" id="username" />
                    </div>
                </div>
            <% } %>

            <div class="form-group d-flex align-items-center gap-3">
                <div class="form-group w-100 text-center">
                    <label for="fname">First Name*</label>
                    <input disabled value="<%= user.fullname?.fname %>" type="text"
                        class="form-control border border-dark border-4 text-center" id="fname" />
                </div>
                <div class="form-group w-100 text-center">
                    <label for="mi">M.I.*</label>
                    <input disabled value="<%= user.fullname?.mi %>" type="text"
                        class="text-center form-control border border-dark border-4" id="mi" />
                </div>
                <div class="form-group w-100 text-center">
                    <label for="lname">Last Name*</label>
                    <input disabled value="<%= user.fullname?.lname %>" type="text"
                        class="form-control border border-dark border-4 text-center" id="lname" />
                </div>
            </div>

            <div class="form-group d-flex align-items-center gap-3">
                <div class="form-group w-100 text-center">
                    <label for="birthdate">Birthdate*</label>
                    <input disabled value="<%= user.birthdate %>" type="date"
                        class="text-center form-control border border-dark border-4" id="birthdate" name="birthdate" />
                </div>
                <div class="form-group w-100 text-center">
                    <label for="age" class="control-label">Age*</label>
                    <input disabled type="number" value="<%= user.age %>"
                        class="text-center form-control border border-dark border-4" id="age" />
                </div>
            </div>

            <div class="form-group d-flex align-items-center gap-3">
                <div class="form-group w-100 text-center">
                    <label for="gender">Gender*</label>
                    <select disabled class="form-select border border-dark border-4 d-block text-center" id="gender">
                        <% if(user.gender && user.gender == "Male") { %>
                            <option selected>Male</option>
                            <option>Female</option>
                        <% }else if(user.gender && user.gender == "Female") { %>
                            <option>Male</option>
                            <option selected>Female</option>
                        <% }else{ %>
                            <option>Male</option>
                            <option>Female</option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group w-100 text-center">
                    <label for="contact">Contact*</label>
                    <input disabled value="<%= user.contact %>" type="text"
                        class="text-center form-control border border-dark border-4" id="contact" name="contact" />
                </div>
            </div>
        </div>

        <div class="form-group w-75 mx-auto">
            <label class="form-label" for="address">Patient's Address*</label>
            <textarea disabled class="form-control border border-dark border-4 text-center" id="address"
                rows="3"><%= user.address %></textarea>
        </div>
        <div class="form-group w-75 mx-auto">
            <label class="form-label" for="patient_history">Patient History</label>
            <textarea disabled class="form-control border border-dark border-4 text-center" id="patient_history"
                rows="3"><%= user.patient_history %></textarea>
        </div>
        <div class="form-group w-75 d-flex mx-auto gap-4">
            <div class="form-group w-100 d-flex align-items-center gap-3 flex-column">
                <div class="form-group w-100 mx-auto">
                    <label class="form-label" for="g-name">Guardian's Name</label>
                    <input disabled value="<%= user.guardian?.name %>" class="form-control w-100 border border-dark border-4 text-center" type="text" id="g-name" />
                </div>
                <div class="form-group w-100 mx-auto">
                    <label class="form-label" for="g-contact">Guardian's Contact</label>
                    <input disabled value="<%= user.guardian?.contact %>" class="form-control w-100 border border-dark border-4 text-center" type="number" id="g-contact" />
                </div>
                <div class="form-group w-100 mx-auto">
                    <label class="form-label" for="g-relationship">Relationship to Patient</label>
                    <input disabled value="<%= user.guardian?.relationship %>" class="form-control w-100 border border-dark border-4 text-center" type="text" id="g-relationship" />
                </div>
            </div>
            <div class="form-group w-100">
                <div class="form-group w-100 mx-auto">
                    <label class="form-label" for="g-address">Guardian's Address</label>
                    <textarea disabled rows="9" class="form-control w-100 border border-dark border-4 text-center" id="g-address"><%= user.guardian?.address %></textarea>
                </div>
            </div>
        </div>
        <div class="action-btn form-group d-flex flex-column flex-md-row gap-5 justify-content-center p-4 w-75 mx-auto">
            <button class="btn btn-success border border-dark border-5 d-none" id="save">SAVE INFORMATION</button>
            <button class="btn btn-primary border border-dark border-5" id="edit">EDIT INFORMATION</button>
        </div>
    </div>

    <h1 class="text-center">Medical Records</h1>
    <div class="container border border-dark rounded border-5 text-center p-3 w-75 bg-light text-dark">
        <table>
            <thead>
                <tr>
                    <th class="text-center">DIAGNOSIS</th>
                    <th class="text-center">CHECK-UP DATE</th>
                    <th class="text-center">ACTION</th>
                </tr>
            </thead>
        </table>
    </div>

    <%- include('../../templates/confirmation.ejs') %>
    <%- include('../../templates/loading.ejs') %>
    <%- include('../../templates/toast.ejs') %>
    <script type="application/javascript" src="/js/admin/patient-info.js"></script>
</body>

</html>