<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="patient_id" content="<%= patient_id %>">
    <%- include('../../templates/header.ejs') %>
    <link rel="stylesheet" href="/css/admin/patient-info.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <script type="application/javascript" src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</head>

<body class="bg-dark">
    <a class="btn btn-info" href="/admin/patients">BACK</a>

    <h1 class="text-center text-light">Patient Information</h1>
    <div class="container border border-dark rounded border-5 text-dark bg-light text-center w-75 mb-5 position-relative d-flex flex-column gap-4 p-4 pt-5">
        <h5 class="unsaved-changes text-danger text-center position-absolute">You have unsaved changes</h5>

        <div class="form-group w-100 d-flex justify-content-around align-items-center">

            <div class="form-group d-flex flex-column gap-3 align-items-center">
                <div class="img-container border border-dark border-4 rounded mx-auto">
                    <img id="img" class="img-fluid" src="<%= user.picture %>"/>
                </div>

                <div class="form-group w-100">
                    <label class="form-label" for="gender">Gender*</label>
                    <select class="form-select border border-dark rounded border-4 text-center" id="gender">
                        <% if(user.gender) { %>
                            <option value="<%= user.gender %>" hidden><%= user.gender %></option>
                        <% } else { %>
                            <option selected disabled hidden>Choose</option>
                        <% } %>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>
            </div>

            <div class="form-group d-flex flex-column gap-5 justify-content-center">
                <div class="form-group">
                    <label class="form-label" for="fname">First Name*</label>
                    <input value="<%= user.fullname?.fname %>" type="text" class="form-control border border-dark rounded border-4 text-center" id="fname" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="mi">M.I.*</label>
                    <input value="<%= user.fullname?.mi %>" type="text" class="form-control border border-dark rounded border-4 text-center" id="mi" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="lname">Last Name*</label>
                    <input value="<%= user.fullname?.lname %>" type="text" class="form-control border border-dark rounded border-4 text-center" id="lname" />
                </div>
            </div>

            <div class="form-group d-flex flex-column gap-5 justify-content-center">
                <div class="form-group">
                    <label class="form-label" for="birthdate">Birthdate*</label>
                    <input value="<%= user.birthdate %>" type="date" class="form-control text-center border border-dark rounded border-4" id="birthdate" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="age">Age*</label>
                    <input value="<%= user.age %>" type="number" class="form-control border border-dark rounded border-4 text-center" id="age" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="contact">Contact*</label>
                    <input value="<%= user.contact %>" type="number" class="form-control border border-dark rounded border-4 text-center" id="contact" />
                </div>
            </div>
        </div>

        <div class="form-group w-100">
            <label class="form-label" for="address">Patient's Address*</label>
            <textarea class="form-control border border-dark border-4 text-center" id="address"
                rows="3"><%= user.address %></textarea>
        </div>
        <div class="form-group w-100">
            <label class="form-label" for="patient_history">Patient History</label>
            <textarea class="form-control border border-dark border-4 text-center" id="patient_history"
                rows="3"><%= user.patient_history %></textarea>
        </div>
        <div class="form-group w-100">
            <label class="form-label" for="g-name">Guardian's Name</label>
            <input value="<%= user.guardian?.name %>" class="form-control w-100 border border-dark border-4 text-center" type="text" id="g-name" />
        </div>
        <div class="form-group w-100">
            <label class="form-label" for="g-address">Guardian's Address</label>
            <textarea rows="3" class="form-control w-100 border border-dark border-4 text-center" id="g-address"><%= user.guardian?.address %></textarea>
        </div>
        <div class="form-group w-100">
            <label class="form-label" for="g-contact">Guardian's Contact</label>
            <input value="<%= user.guardian?.contact %>" class="form-control w-100 border border-dark border-4 text-center" type="number" id="g-contact" />
        </div>
        <div class="form-group w-100">
            <label class="form-label" for="g-relationship">Relationship to Patient</label>
            <input value="<%= user.guardian?.relationship %>" class="form-control w-100 border border-dark border-4 text-center" type="text" id="g-relationship" />
        </div>
        <div class="form-group d-flex flex-column flex-md-row gap-5 justify-content-center p-4 w-100">
            <button disabled class="btn border border-dark border-5 w-25" id="save">SAVE</button>
        </div>
    </div>

    <h1 class="text-center text-light">Medical Records</h1>
    <div class="container border border-dark rounded border-5 text-center p-3 w-75 bg-light text-dark">
        <table>
            <thead>
                <tr>
                    <th class="text-center">DIAGNOSIS</th>
                    <th class="text-center">DATE CREATED</th>
                    <th class="text-center">ACTION</th>
                </tr>
            </thead>
        </table>
    </div>

    <%- include('../../templates/confirmation.ejs') %>
    <%- include('../../templates/loading.ejs') %>
    <%- include('../../templates/toast.ejs') %>
    <script type="application/javascript" src="/js/admin/patient-info.js"></script>
</body>

</html>