<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../templates/header.ejs') %>
        <link rel="stylesheet" href="/css/admin/appointments.css" />
        <link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
        <script type="application/javascript" src="/js/jquery.dataTables.min.js"></script>
</head>

<body class="bg-light text-dark">
    <div class="content d-flex">
        <%- include('../../templates/sidebar.ejs') %>
        <div class="main">
            <%- include('../../templates/admin-navbar.ejs', { content: "Online Appointments" }) %>
            <div class="container">
                <div class="container p-3 border border-dark border-4 rounded bg-light">
                    <div class="form-group w-100 mb-4">
                        <label class="form-label text-center text-dark w-100">SORT</label>
                        <select class="form-select border border-dark border-3 rounded text-center text-dark">
                            <option selected value="month">This Month</option>
                            <option value="week">This Week</option>
                            <option value="today">Today</option>
                            <option value="none">All</option>
                        </select>
                    </div>
                    <table class="table text-center table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">DATE</th>
                                <th class="text-center">PATIENT'S NAME</th>
                                <th class="text-center">ADDRESS</th>
                                <th class="text-center">CONTACT</th>
                                <!-- <th class="text-center">STATUS</th> -->
                                <th class="text-center">ACTION</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="reason-shadow">
        <div class="reason bg-light w-50 h-50 rounded border border-dark border-3 p-3 d-flex flex-column align-items-center gap-3">
            <h3 class="text-center my-3">REASON</h3>
            <textarea class="form-control w-75 border border-dark border-4 text-center my-3" id="reason" rows="3"></textarea>
            <button class="btn btn-danger text-center my-3 border border-dark border-3 rounded" id="confirm-cancel">CANCEL APPOINTMENT</button>
        </div>
    </div>

    <div class="view-shadow">
        <div class="view bg-light w-75 h-75 rounded border p-5 d-flex flex-column justify-content-center align-items-center gap-3"></div>
    </div>

    <input type="hidden" id="reasonId">
    <input type="hidden" id="email">
    <input type="hidden" id="schedule">

    <%- include('../../templates/toast.ejs') %>
    <%- include('../../templates/loading.ejs') %>
    <script type="application/javascript" src="/js/admin/appointments.js"></script>
</body>

</html>